* {
    outline: 1px solid red;
}

h1, h2, p {
    margin: 0;
}

body {
    font-family: Verdana, Tahoma, sans-serif;
}

.content {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

/* Left hand side*/

.sidebar {
    background-image: url(./images/dancer-compressed.jpg);
    background-repeat: no-repeat;
    background-size: auto 100vh;
    background-position: top left 25%;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: space-evenly;
    flex: 1 1 40%;
}

.logo {
    font-size:xxx-large;
    margin-top: 50%;
}

.logo img {
    height: 150px;
}

.logo, .photo-credit {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 5px;
}

.photo-credit {
    margin-top: auto;
}

a {
    color: beige;
}

/* Right hand side*/

.main {
    display: flex;
    flex-direction: column;
    height: 100vh;
    flex: 1 1 60%;
    justify-content: center;
}

.rundown,
.register,
.account {
    padding: 25px;
}

.rundown,
.account {
    background-color:#d3cdb3;
    flex-grow: 1;
}

.rundown {
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-start;
    padding-right: 30%;
    font-size: 150%;
    font-weight: 550;
}


.register {
    display: flex;
    flex-direction: column;
    justify-content: space-between;  
}

.register form{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: start;
}


.register form div {
    width: 30%;
    display: flex;
    flex-direction: column;
    margin-right: 10%;
    margin-bottom: 10px;
}

input {
    border-radius: 5px;
    border-color: #E5E7EB;
    height: 20px;
}

.account {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.account button {
    background-color: turquoise;
    color: white;
    display: block;
    width: 30%;
    height: 20%;
    font-size: 150%;
    font-weight: bold;
}

.sign-in a {
    color: turquoise;
    font-weight: bold;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8);
}

