* {
    outline: 1px solid red;
}

body {
    font-family: sans-serif;
}

.content {
    display: flex;
    flex-direction: row;
    height: 100vh;
    align-items: center;
}

.sidebar {
    display: flex;
    flex-direction: column;
}

.logo {
    display: flex;
    flex-direction: row;
    font-size:xx-large;
}

.logo img {
    height: 50px;
}

.main {
    display: flex;
    flex-direction: column;
}